# 2. Series

In [50]:
import pandas as pd
import numpy as np

## 2-1. Series 생성하기
* numpy에서 제공하는 1차원 배열과 유사
* 엑셀에서 한 컬럼과 유사
* Series = 1차원 배열의 값(value) + 행인덱스(index)

In [51]:
# 1. Value값만 주기
# index를 지정하지 않은 경우 0부터 시작하는 index가 부여됨.
s=pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [52]:
type(s)

pandas.core.series.Series

In [53]:
s.shape

(4,)

In [54]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [55]:
s.values
type(s.values)

numpy.ndarray

In [56]:
# dtype 지정하기
pd.Series([1,2,3,4],dtype=float)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [57]:
pd.Series(np.array([1,2,3,4]))

0    1
1    2
2    3
3    4
dtype: int32

In [58]:
# 1~10까지 Series 만들기
pd.Series(range(1,11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [59]:
pd.Series(np.arange(1,11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [60]:
#2 value와 index 둘 다 주기
index=[1,2,3,4]
s=pd.Series([10,20,30,40],index=index)
s

1    10
2    20
3    30
4    40
dtype: int64

In [61]:
# index에 문자열 주기
index=['치킨','초밥','콜라','삼겹살']
s=pd.Series([16000,30000,2000,12000],index=index)
s

치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
dtype: int64

In [62]:
s.values

array([16000, 30000,  2000, 12000], dtype=int64)

In [63]:
s.index

Index(['치킨', '초밥', '콜라', '삼겹살'], dtype='object')

In [64]:
# 딕셔너리로 만들기
s=pd.Series({'치킨':16000,'초밥':30000,'콜라':2000,'삼겹살':12000})
s

치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
dtype: int64

In [65]:
s.name='메뉴'
s

치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
Name: 메뉴, dtype: int64

## 2-2. Series 인덱싱과 슬라이싱

In [66]:
# 0인덱스를 이용
s['치킨']

16000

In [67]:
# 인덱스 라벨 이용
s[0],s.치킨

(16000, 16000)

In [68]:
s['삼겹살'],s[-1],s.삼겹살

(12000, 12000, 12000)

In [69]:
# index가 숫자인 경우
t=pd.Series([10,20,30,40],index=[1,2,3,4])
t

1    10
2    20
3    30
4    40
dtype: int64

In [70]:
t[1]# key값으로 먼저 찾는다

10

In [71]:
# Fancy 인덱싱
s[['치킨','콜라']]

치킨    16000
콜라     2000
Name: 메뉴, dtype: int64

In [72]:
s[[0,2]]

치킨    16000
콜라     2000
Name: 메뉴, dtype: int64

In [73]:
# Boolean 인덱싱
s[s<=15000]

콜라      2000
삼겹살    12000
Name: 메뉴, dtype: int64

In [74]:
s

치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
Name: 메뉴, dtype: int64

In [75]:
s[(15000<=s)&(s<=30000)]

치킨    16000
초밥    30000
Name: 메뉴, dtype: int64

In [76]:
# 슬라이싱 (start:end:step)
# 0인덱싱 사용 슬라이싱 : end-1
s[1:3]

초밥    30000
콜라     2000
Name: 메뉴, dtype: int64

In [77]:
# 인덱스 라벨로 슬라이싱을 하면 end까지
s['초밥':'콜라']

초밥    30000
콜라     2000
Name: 메뉴, dtype: int64

In [78]:
s['초밥':'삼겹살']

초밥     30000
콜라      2000
삼겹살    12000
Name: 메뉴, dtype: int64

## 2-3. Series 데이터 CRUD

In [79]:
# crud create read update delete
# 앞에서부터 데이터보기
s.head(2)

치킨    16000
초밥    30000
Name: 메뉴, dtype: int64

In [80]:
s.tail(2)

콜라      2000
삼겹살    12000
Name: 메뉴, dtype: int64

In [81]:
s

치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
Name: 메뉴, dtype: int64

In [82]:
# 데이터 추가
s['피자']=20000
s

치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
피자     20000
Name: 메뉴, dtype: int64

In [83]:
s['햄버거']=np.nan
s

치킨     16000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
Name: 메뉴, dtype: float64

In [84]:
s[s.isnull()]

햄버거   NaN
Name: 메뉴, dtype: float64

In [85]:
s.isna()

치킨     False
초밥     False
콜라     False
삼겹살    False
피자     False
햄버거     True
Name: 메뉴, dtype: bool

In [86]:
s[s.notnull()]

치킨     16000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
Name: 메뉴, dtype: float64

In [87]:
s.notna()

치킨      True
초밥      True
콜라      True
삼겹살     True
피자      True
햄버거    False
Name: 메뉴, dtype: bool

In [88]:
s[s.notna()]

치킨     16000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
Name: 메뉴, dtype: float64

In [89]:
s['치킨']=20000
s

치킨     20000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
Name: 메뉴, dtype: float64

In [90]:
s[0]=30000
s

치킨     30000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
Name: 메뉴, dtype: float64

In [92]:
#데이터 삭제하기
del s['햄버거']
s

치킨     30000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
Name: 메뉴, dtype: float64

## Series 연산

In [103]:
# Series 간의 사칙연산
data=[20000,30000,2000,12000,20000]
index=['치킨','초밥','콜라','삼겹살','피자']
s2=pd.Series(index=index,data=data)
s2

치킨     20000
초밥     30000
콜라      2000
삼겹살    12000
피자     20000
dtype: int64

In [104]:
#인덱스 라벨이 동일해야함
s+s2

치킨     50000.0
초밥     60000.0
콜라      4000.0
삼겹살    24000.0
피자     40000.0
dtype: float64

In [105]:
s-s2

치킨     10000.0
초밥         0.0
콜라         0.0
삼겹살        0.0
피자         0.0
dtype: float64

In [111]:
#broad casting
s=s+1000
s

치킨     31000.0
초밥     31000.0
콜라      3000.0
삼겹살    13000.0
피자     21000.0
Name: 메뉴, dtype: float64

In [112]:
# Aggregation 함수
s.max(),s.min()

(31000.0, 3000.0)

In [113]:
s.sum()

99000.0

In [114]:
s.mean()

19800.0

In [115]:
s.median()

21000.0